#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  /* height: 100vh; */
  /* background-x color: red; */
}

.project-container {
  /* height: 100%; */
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100rem;
}

.indicator-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  font-weight: bold;
}

.left-btn {
  left: -10%;
}

.right-btn {
  right: -10%;
}

.arrow {
  height: 2.1;
}

.carousel {
  overflow: hidden;
  /* height: 80%; */
  width: 100%;
}

.inner {
  height: 60rem;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  transition: translate 0.4s ease-in-out;
  margin: 0;
}

@media screen and (max-width: 769px) {
.inner {
  /* height: 100%; */
}

}

@media screen and (max-width: 480px) {
  .inner{
    height: 100%;
  }

  .carousel {
    width: 110%;
    margin-left: -5%;
    height: 100%;
  }

  .arrow {
    height: 1.56rem;
  }

  .left-btn {
    left: -13%;
  }

  .right-btn {
    right: -13%;
  }
}
