#root {
  /* max-width: 1280px; */
  width: 100%;
  text-align: center;
  justify-content: center;
}

.outer-app-container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.inner-app-container {
  width: 100%;
  margin: auto;
  /* margin: 0 10%; */
  overflow-x: hidden;
  padding: 0;
  /* background-color: red; */
}

.outer-app-container::-webkit-scrollbar {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

.section {
  /* width: 80%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12.5rem;
}

.section-container {
  width: 75%;
}

.section-title {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 4rem;
  font-family: 'Roboto Mono', monospace;
}

.section-title > span {
  color: #da4ea2;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  /* width: 100%;
  overflow-x: hidden; */
}

@media screen and (max-width: 480px) {
  #blob {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
  .inner-app-container {
  }

  .section-title {
    font-size: 2rem;
  }
  .section-title > span {
    display: block;
  }
}

#blob {
  background-color: white;
  height: 18.75rem;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  /* filter: blur(150px); */
  z-index: -2;
  overflow: hidden;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12.5rem);
  overflow: hidden;
}